<div class="question less-top">Which of these talk show celebrities has had an iPhone app reach #1</div>

<div class="answers">
    <div class="answer-group">
        <ul>
            <li class="answer-option">
                <a href="#" {{action imageClick "kelly"}}><img src="images/kelly.jpg" {{bindAttr class=":image-option class1"}}/></a>
                <a href="#" {{action imageClick "jay"}}><img src="images/jay.jpg" {{bindAttr class=":image-option class2"}}/></a>
                <a href="#" {{action imageClick "ellen"}}><img src="images/ellen.jpg" {{bindAttr class=":image-option class3"}}/></a>
                <a href="#" {{action imageClick "oprah"}}><img src="images/oprah.jpg" {{bindAttr class=":image-option class4"}}/></a>
            </li>
        </ul>
    </div>

    {{#view App.SubmitView}}
        <button class="submit btn btn-primary">
            Submit Answer
        </button>
    {{/view}}
</div>