<div class="question">Guess the company by its logo</div>

<div class="answers">
    <div class="answer-group" style="width: 580px;">
        <div class="inline">
            <div class="image-logo-container">
                <img src="images/adobe.png" class="image-logo" />
            </div>
            {{view Ember.TextField valueBinding="answer1"}}
        </div>
        <div class="inline">
            <div class="image-logo-container">
                <img src="images/atari.gif" class="image-logo" />
            </div>
            {{view Ember.TextField valueBinding="answer2"}}
        </div>
        <div class="inline">
            <div class="image-logo-container">
                <img src="images/toyota.jpg" class="image-logo" />
            </div>
            {{view Ember.TextField valueBinding="answer3"}}
        </div>
        <div class="inline">
            <div class="image-logo-container">
                <img src="images/cbs.jpg" class="image-logo" style="width: 70px;" />
            </div>
            {{view Ember.TextField valueBinding="answer4"}}
        </div>
        <div class="inline">
            <div class="image-logo-container">
                <img src="images/twitter.jpg" class="image-logo" />
            </div>
            {{view Ember.TextField valueBinding="answer5"}}
        </div>
        <div class="inline">
            <div class="image-logo-container">
                <img src="images/js.jpg" class="image-logo" />
            </div>
            {{view Ember.TextField valueBinding="answer6"}}
        </div>
        <div class="inline">
            <div class="image-logo-container">
                <img src="images/mozilla.png" class="image-logo" />
            </div>
            {{view Ember.TextField valueBinding="answer7"}}
        </div>
        <div class="inline">
            <div class="image-logo-container">
                <img src="images/myspace.png" class="image-logo" />
            </div>
            {{view Ember.TextField valueBinding="answer8"}}
        </div>
    </div>

    {{#view App.SubmitView}}
        <button class="submit btn btn-primary">
            Submit Answer
        </button>
    {{/view}}
</div>